@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster');


body {
    background:linear-gradient(to bottom, black 80%, red);
    font-family: 'Josefin Sans', sans-serif;
    list-style-type: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin-top:10%;
}
.img1 {
    width:100%;
    height: auto;
    max-width: 100%;

}
.row{
    background-color:lightsteelblue;
    border-radius: 2%;
    width:1000px;
    height:auto;
}
.gp{
    margin-left:15%;
    margin-top:50px;
    margin-right:10%;
    font-size: 80%;
}