@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
     background:linear-gradient(to bottom, black 80%, red);
     font-family: 'Josefin Sans', sans-serif;
    list-style-type: none;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-attachment: fixed;
 }
.row {
    background-color:lightsteelblue;
    border-radius: 2%;
}
.ecuries{
    margin-left:10%;
    margin-top:50px;
    margin-right: 10%;
    font-size: 80%;
}
.img1 {
    width:100%;
    height: auto;
    max-width: 100%;

}
.photoecurie{
    width:20%;
}
@media screen and (max-width: 767px) {
    .ecuries{
        margin-top:80px;
    }
    container {
        display:none;
    }
    .photoecurie{
        max-width: 100px;
    }
}


