@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster');


body {
    background:linear-gradient(to bottom, black 80%, red);
    font-family: 'Josefin Sans', sans-serif;
    list-style-type: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
@media screen and (max-width: 767px) {

}
