@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster');

.logo {
    width : 150px;
    padding-left:50px;
}

.content {
    padding: 120px 0;
}
.admin{
    color:white;
    padding-right: 5%;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    list-style-type: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.row {
    background-color:lightsteelblue;
    border-radius: 2%;
}
.pilotes{
    margin-left:10%;
    margin-top:50px;
    margin-right:10%;
    font-size: 80%;
}
.img1 {
    width:100%;
    height: auto;
    max-width: 100%;

}
.photopilote{
    width:20%;
}
@media screen and (max-width: 767px) {
    footer{
        margin-left:15%;
    }
    .ecuries{
        margin-top:80px;
    }
    .admin{
        display:none;
    }
    container {
        display:none;
    }
    .photoecurie{
        max-width: 100px;
    }
    .logo {
        display:none;
    }
}